@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change the white to any color */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #540d6e inset !important;
  background-color: transparent !important;
}

/* Set background color of input field */
input {
  background-color: transparent !important;
}

/* Set background color of autofilled input */
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

@layer base {
  html {
    @apply text-white;
  }
}
